web/config/application_configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="applicationConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="siteTitle" type="xs:string"/>
        <xs:element name="databasePath" type="xs:string"/>
        <xs:element name="webLogFilePath" type="xs:string"/>
        <xs:element name="defaultPageSize" type="xs:positiveInteger"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
